.adminloginbackgrount {
  background-color: rgb(186, 230, 221);
  height: 90vh;
}
.adminloginbackgrountform {
  background: linear-gradient(45deg, rgba(217, 217, 217, 1), rgb(14, 163, 135));
  padding: 8%;
}
.r {
  padding: 5% 30%;
}
.adminsidebarmain {
  border-radius: 9px;
  background-color: rgb(14, 163, 135);
  min-height: 100vh;
  margin: 5% 7%;
}
/* .admindashboardbackground {
  background-color: rgb(186, 230, 221);
} */
.sidebardashboard {
  
  width: 90%;
  border-radius: 6px;
  border: none;
}
.sidebardashboard:hover {
  background-color: white;
}

.admin-sidebar-dash{
  font-size: 20px;
  font-weight: 600;
}
.admin-sidebar-dash-img{
  margin-left: 120px;
}
.admin-sidebar-dash-img-reader{
  margin-left: 142px;
}
.admin-sidebar-dash-img-writer{
  margin-left: 148px;
}
.admin-sidebar-dash-img-req{
  margin-left: 130px;
}
.admin-sidebar-dash-img-rep{
  margin-left: 142px;
}
.admin-sidebar-dash-img-chall{
  margin-left: 109px;
}
.admin-sidebar-dropdown{
  background-color: #BAE6DD;
  height: 10vh;
  border-radius: 10px;
}
.admin-sidebar-dropdown-link{
  color: black;
}


/* View Challengers */

.view-challengers-title{
  background-color: #BAE6DD;
  width: 100%;
  height: 10vh;
  border-radius: 10px;
}
.view-challengers-description{
  background-color: #BAE6DD;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}
.view-challengers-description-div{
  text-align: justify;
}
.view-challengers-view-btn{
  color: white;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #198754;
  border-radius: 10px;
  height: 6vh;
  width: 22%;
}

/* View Challenges Title */

.view-challenges-title-back{
  background-color: #22AB91;
  height: 8vh;
  width: 100%;
  border-radius: 10px;
}
.view-challenges-date-back{
  background-color: #22AB91;
  height: 30vh;
  width: 100%;
  border-radius: 10px;
}

.view-challenges-name-back{
  background-color: #BAE6DD;
  height: 5vh;
  border-radius: 10px;
  width: 100%;
}

.view-challenders-title-announcebtn{
  box-shadow: 0px 4px 4px 0px #00000040;
  color:white;
  background: #198754;
  border: none;
  border-radius: 10px;
  height: 7vh;
  width: 20%;
}

/* Announce Summary Challenge */

.announce-summary-challenge-grid{
  background-color: #4CB7A1;
  border-radius: 10px;
  height: 7vh;
  width: 100%;
}
.announce-summary-challenge-grid1{
  border-radius: 10px;
  height: 7vh;
  width: 100%;
  background-color: #BAE6DD;
}