.Landingsection1img{
  background-image: url("../../Assets/landing1.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}
.Landingsection1content{
  margin: 13%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.Landingsection3{
  background-image: url("../../Assets/Landingsection3img.png");
  padding: 2%;
}
.Landingsection4{
  background-image: url("../../Assets/Landingsection4img.png");
}
.Landingsection8img{
  background-color: #25252533;
}
.Landingsection8div1{
  background-color: black;
}