.headermain{
    background-color: rgba(1, 30, 73, 0.97);
}
.headermainpara{
    color: rgba(91, 128, 183, 0.98);
}
.profileposition{
    position: relative;
}
.circular-img {
    position: relative;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
  }
  
  .circular-img img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  .landingpage{
    background-image: url("../images/Rectangle\ 1.png");
    height: 100vh;
    
  }