.backgroundimg{
    background-image: url("https://4.bp.blogspot.com/-woU6UQG8ksA/U4wCIwVifAI/AAAAAAAAW8E/RYuEjsBfiig/s1600/f0577a361551915e4a7920e6f3ed2324.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}