/* Reader MAinNAv */

.raeder-profile-link{
    text-decoration: none;
    color: white;
}

/* Reader PRofile */

.reader-profile-back-img{
    height: 38vh;
    width: 100%;
}
.reader-profile-front-img{
    height: 270px; 
    width: 270px;
    margin-top: -120px;
    border-radius: 50%;
}
.reader-profile-editbtn{
    height: 50px;
    width: 40%;
    background-color: #646262;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
}

/* Reader Edit Profile */


.reader-edit-profile-front-img{
    height: 270px; 
    width: 270px;
    margin-top: -120px;
    /* margin-left: 13px; */
    border-radius: 50%;
}
.reader-edit-profile-icon{
    color:grey ; 
    margin-left: -95px;
    height: 40px;
    width: 40px;  
}
.reader-edit-profile-back-img{
    height: 38vh;
    width: 100%;    
}
.reader-edit-profile-editbtn{
    height: 50px;
    width: 40%;
    background-color: #646262;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
}

/* Reader Home */
.reader-home-link h5{
    text-decoration: none;
}
.reader-home-step1{
    background-color: black;
    color: white;
}

/* Reader view published story */

.readerview-apublished-story-commentimg{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.readerview-apublished-story-label{
    margin-left: -100px;
}

/* Reader view one customised story */

.readerview-one-customised-story-back{
    background-color: #e9e8e85a;
    min-height: 100vh;
    width: 100%;    
}
.readerview-one-customised-story-navdiv{
    background-color: #535252;
    height: 11vh;
    width: 100%;
}
.readerview-one-customised-story-img{
    height: 55px;
    width: 55px;
    border-radius: 55px;
}
.readerview-one-customised-story-span{
    color: white;
    font-weight: 18px;
}
.readerview-one-customised-story-maindiv{
    background-color: #E9E8E8;
    width: 100%;
    min-height: 80vh;
}
.readerview-one-customised-story-img1{
    height: 90vh;
    width: 80%;
}
.readerview-one-customised-story-maindiv1{
    min-height: 70vh;
    width: 78.5%;
    margin-left: 140px;
    background-color: #AF9783;
}
.readerview-one-customised-story-para{
    text-align: justify;
    color: white;
}
.readerview-one-customised-story-branches{
    box-shadow: 3px 3px 4px 0px #00000040;
    background: #BAA08C;
    width: 330px;
    height: 78px;
    border-radius: 10px;
}
.readerview-one-customised-story-branches-img{
    height: 70px;
    width: 100%;
    border-radius: 10px;
}
.readerview-one-customised-story-branches-h3{
    color: white;
}
.readerview-one-customised-story-branches-co{
    box-shadow: 3px 3px 4px 0px #00000040;
    background: #BAA08C;
    width: 80%;
    height: 73px;
    border-radius: 10px;    
}